html, body {
  padding: 0;
  margin: 0;
  font-family: 'STHeitiSC-Light', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
$w: 42px;
.main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .editor-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $w + 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .editor-panel, .review-panel {
      flex-basis: 50%;
      box-sizing: border-box;
      padding: 0 20px;
    }
    .review-panel {
      border-left: 1px solid #ccc;
      overflow-y: auto;
    }
    .editor-panel {
      // display: flex;
      // flex-direction: column;
      // align-items: stretch;
      // justify-content: space-between;
      overflow-y: auto;
    }
  }
}